/* Subtitulo */
h2.tituloArea { 
	background-image: url("../imagens/comum/sub2.gif");
	background-repeat:repeat-x;
	background-position:bottom;	
	padding:5px 20px 8px 0px;
	margin-bottom: 10px;
	color:#333333;
	margin-top:0px;
	font-size: 110%;
}

h2.tituloArea strong {
	background-image:url("../imagens/comum/sub1.gif");
	background-repeat:no-repeat;
	background-position:bottom right;
	padding:5px 20px 8px 0px;
	margin-bottom: 5px;
}

/* Orientacoes */
.esajTituloOrientacoes {
	background-image:url("../imagens/comum/seta_orientacoes.jpg");
	background-repeat:no-repeat;
	background-position: left;	
	padding-left:30px;
	line-height:31px;
	font-size:120%;
	color:#999999;
	font-weight:bold;
	display:block;
}

/* ul das orientacoes */
.esajUlOrientacoes {
	margin-top:0px;
	margin-bottom:-7px;
}

div#spwTabelaMensagem {
	margin-bottom:1em;
}

span.gerenciarUsuarios {
	display: none;
}
